* {
	margin: 0;
	padding: 0;
}

.navbar{
	background-color: #7ea16b;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 999999;
	height: 70px;
}

.navbar-brand {
	color: #ffffff;
}

.navbar-nav a{
	color: #ffffff;
}

.box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px;
	width: 100%;
	height: 540px;
	color: #5a3921;
	background-color: #ffffffff;
}

.img {
	max-width: 240px;
	height: 220px;
	margin: 15px;
	padding: 10px;
	text-align: center;
}

.content {
	width: 100%;
	height: 540px;
	background-color: #c3d898;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text h1{
	max-width: 990px;
	text-align: center;
	color: #5a3921;
	padding: 20px;
}

.text p {
	max-width: 990px;
	text-align: center;
	color: #5a3921;
	padding: 20px;
	font-size: 18px;
}
.text img {
	max-width: 990px;
	text-align: center;
	padding: 20px;
	font-size: 18px;
}

.subscribe {
	width: 100%;
	height: 540px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.submit {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 350px;
	background-color: #c3d898;
	padding: 20px;
	border-radius: 5px;
	color: #5a3921;
}

.password {
	border: 0;
	border-radius: 5px;
	height: 30px;
}

.email {
	height: 30px;
	border: 0;
	border-radius: 5px;
}

.area {
	border: 0;
	border-radius: 5px;
}

.send {
	height: 30px;
	border: 0;
	border-radius: 5px;
	margin-top: 15px;
	color: #5a3921
}

.footer {
	width: 100%;
	height: 90px;
	color: #ffffff;
	background-color: #7ea16b;
	right: 0px;
	left: 0px;
	line-height: 90px;
	text-align: center;
}

.navbar a:hover{
  color: #bdf774;
  background-color: transparent;
  text-decoration: none;
}

.full{
	height:100vh;
}

.half{
	height:50vh;
}

.banner {
	height:50vh;

	background-image: url('../images/banner.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.banner2 {
	background-image: url('../images/banner2_blur.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.banner3 {
	background-image: url('../images/banner3.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.qr{
	height:20vh;
}
